* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

h1 {
    margin-left: 16px;
    margin-top: 40px;
    font-family: 'Courier New', Courier, monospace;
}

table,
th,
td {
    width: auto;
    margin-left: 16px;
    margin-right: 16px;
    margin-top: 10px;

    border-collapse: collapse;
    border: 2px solid #000000;

    background-color: azure;
    table-layout: fixed;

}

.my-wallet tr td:first-child {
    background-color: blanchedalmond;
    font-weight: bold;
}

.bomzh-wallet tr td:first-child {
    background-color: aqua;
    font-weight: bold;
}

.lucky-wallet tr td:first-child {
    background-color: rgb(92, 235, 188);
    font-weight: bold;
}

th {
    padding-left: 5px;
    padding-right: 5px;
}

td {
    padding-left: 5px;
    padding-right: 5px;

    text-align: right;
}

.name {
    text-align: left
}

output {

    font-weight: bold;
}

.expences {
    margin: 20px;

    font-weight: bold;
}

.balance {
    margin: 20px;

    font-weight: bold;
}